.exp-card {
  animation: fadeUp 0.8s ease forwards;
  transition: all 0.3s ease;
  border-radius: 14px !important;
}

.exp-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
  border: 1px solid #1976d2;
}
